:root {
	font-family: sans-serif;
}

.content-container {
	padding: 8px;
}

.emoji {
	height: 1em;
}

.icon {
	border: 1px solid black;
	height: 1em;
}

.subinfo {
	font-size: smaller;
	opacity: .75;
}
